p#notice
  = notice
h1
  | Topics
table
  thead
    tr
      th
        | Name
      th[colspan="3"]
  tbody
    - @topics.each do |topic|
      tr
        td
          = topic.name
        td
          = link_to 'Show', topic
        td
          = link_to 'Edit', edit_topic_path(topic)
        td
          = link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Topic', new_topic_path
