nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed[type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"]
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to "Logo", root_path, class: "navbar-brand"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if current_user
          = render partial: 'shared/notification_feed'
          li
            = link_to "Sign Out", destroy_user_session_path, method: "delete"
        - else
          li
            = link_to "Sign Up", new_user_registration_path
          li
            = link_to "Sign In", new_user_session_path
