li.dropdown.dropdown-notifications
  a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
    span Уведомления
    span.badge.count-notifications #{@notifications.count}
    span.caret
  ul.dropdown-menu.notifications
    - @notifications.each do |j|
      = render partial: 'shared/notification_item', locals: { event: j.event }
