= form_tag(events_path, method: :get) do
  = label_tag :by_city, 'Город'
  = select_tag :by_city, options_from_collection_for_select(City.all, 'id', 'name', params[:by_city]), class: 'form-control', prompt: 'Выберите'
  = label_tag :by_topic, 'Тема'
  = select_tag :by_topic, options_from_collection_for_select(Topic.all, 'id', 'name', params[:by_topic]), class: 'form-control', prompt: 'Выберите'
  .row
    .col-sm-6
      = label_tag :'q[start_date_gteq]', 'Начало периода'
      = search_field_tag :'q[start_date_gteq]', params[:q].try(:[], :start_date_gteq), class: 'datetimepicker form-control', id: 'fromDate'
    .col-sm-6
      = label_tag :'q[start_date_lteq]', 'Конец периода'
      = search_field_tag :'q[start_date_lteq]', params[:q].try(:[], :start_date_lteq), class: 'datetimepicker form-control', id: 'toDate'
  .field
    = check_box_tag :remember_filter
    = label_tag :remember_filter, 'Запомнить фильтр'
  - if current_user.user_filter.present?
    .field
      = check_box_tag :restore_filter
      = label_tag :restore_filter, 'Использовать сохраненный фильтр'
  = submit_tag 'Поиск', class: 'btn btn-primary'
  = link_to 'Все события', events_path, class: 'btn btn-primary'
