= form_for(event) do |f|
  - if event.errors.any?
    #error_explanation
      h2
        = pluralize(event.errors.count, "error")
        |  prohibited this event from being saved:
      ul
        - event.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :city_id
    = f.number_field :city_id
  .row
    .col-sm-6
      = f.label :start_date
      = f.text_field :start_date, class: 'datetimepicker form-control'
    .col-sm-6
      = f.label :end_date
      = f.text_field :end_date, class: 'datetimepicker form-control'
  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.submit
