p#notice
  = notice
h1
  | События

.row
  .col-md-3
    = render partial: 'filter'

  .col-md-9
    table.table.table-bordered
      thead
        tr
          th
            | Название
          th
            | Город
          th
            | Дата начала
          th
            | Дата окончания
          th
            | Место проведения
          th
      tfoot
        - if @events.empty?
          | Нет записей
        = paginate @events
      tbody
        - @events.each do |event|
          tr
            td
              = event.name
            td
              = event.city
            td
              = event.start_date
            td
              = event.end_date
            td
              = event.location
            td
              = link_to 'Посмотреть', event


