p#notice
  = notice
p
  strong
    | Name:
  = @event.name
p
  strong
    | City:
  = @event.city
p
  strong
    | Start date:
  = @event.start_date
p
  strong
    | End date:
  = @event.end_date
p
  strong
    | Location:
  = @event.location
= link_to 'Edit', edit_event_path(@event)
|  | 
= link_to 'Back', events_path
