= form_for(city) do |f|
  - if city.errors.any?
    #error_explanation
      h2
        = pluralize(city.errors.count, "error")
        |  prohibited this city from being saved:
      ul
        - city.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit
